---
---

@import "{{ site.theme }}";

.mainContext
{
    border-bottom:solid 1px #BDBDBD;
    border-left:solid 1px #BDBDBD;
    border-right:solid 1px #BDBDBD;
    width:1080px;
    height:2300px;
    background-color:#FFFCEC;
    margin:0;
    padding: 0;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.leftContext
{
    float: left;
    width: 750px;
    border-bottom: 1px solid #BDBDBD;
}

/*左侧主体内容1*/

.leftContextdiv1
{
    float: left;
    width: 750px;
    height:320px;
    border-bottom: 1px solid #BDBDBD;
}

/*右侧主体*/
.rightContext
{
    float: right;
    width: 328px;
    height:2250px;
    border-left: 1px solid #BDBDBD;
}
